body{
  text-align: center;
  background: url("../IMG/anthony/bg.jpg");
  background-size: cover;
  background-position: 0 0;
  color: white;
  font-family: helvetica;
  padding-top: 100px;
}


.img-circle{
  border-radius: 50%;
}

.members{
  margin: 0 auto;
}

.members td{ 
  padding: 10px;
}

.members td a{
  display: block;
}

.modal{
  color: grey;
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
} 

.fleft{
  float:left;
}

.fright{
  float: right;
}

.clr{
  clear: both;
}

.no-bt-padding{
  padding-bottom: 0;
}

@font-face {
    font-family: cursive-v;
    src: url(../fonts/AguafinaScript-Regular.ttf);
}